<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Weekly Update</title>
</head>
<body>
<h1><span th:text="${name}"></span>, Haftalık PDKS Raporunuz:</h1>
<p><span>GÜN - GÜN AY</span> tarihlerine ait giriş-çıkış kayıtlarınız tabolda yer almaktadır:</p>
<table style="border-collapse: collapse; border: 1px solid black; width: 600px" align="left">
    <tr style="border: 2px solid black;"  align="left" >
        <th style="border: 2px solid black;" align="center" colspan="1" bgcolor= "#cfe1fe">Ad Soyad - TCKN</th>
        <th colspan="4" align= "left">&nbsp; <span th:text="${name} + ' - ' + ${tckn}"></span></th>
    </tr>
    <tr align="center" style="border: 2px solid black;" bgcolor= "#cfe1fe">
        <th style="border: 2px solid black;">Tarih</th>
        <th style="border: 2px solid black; width: 100px">Giriş</th>
        <th style="border: 2px solid black; width: 100px">Çıkış</th>
        <th style="border: 2px solid black; width: 100px">Ek Çalışma</th>
        <th style="border: 2px solid black; width: 100px">Toplam Çalışma Saati</th>
    </tr>
    <tr align="center" style="border: 2px solid black;" th:each="wl : ${worklogs}">
        <td style="border: 2px solid black;" th:text="${wl.getDateText()}"></td>
        <td style="border: 2px solid black;" th:text="${wl.start_time}"></td>
        <td style="border: 2px solid black;" th:text="${wl.end_time}"></td>
        <td style="border: 2px solid black;" th:text="${wl.ext_hours}"></td>
        <td style="border: 2px solid black;" th:text="${wl.getTotal_time()}"></td>
    </tr>
    <tr style="border: 2px solid black;" bgcolor= "#cfe1fe" align="left">
        <th colspan="4" style="border: 2px solid black;" align="right">Toplam &nbsp;</th>
        <th colspan="1" align= "center" th:text="${totalTime}"></th>
    </tr>
</table>
</body>

</html>
